<ul class="dishes_list">
  {{#each dishes}}
    <li>
        <img class="image" src="{{image}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{price}}</p>
    </li>
  {{/each}}
</ul>